*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-color: gray; */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}





/* Padding */
.link {
  text-decoration: none;
  color: inherit;
}
.container {
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
  }
}

/* Global button  */
.button {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary);
  color: var(--text);
}

/* Themes */
:root {
  --primary: #FF671F;
  --secondary: #046A38;
}

[data-theme='india'] {
  --primary: #FF671F;
  --secondary: #046A38;
  --text: black;
}
[data-theme='china'] {
  --primary: #EE1C25;
  --secondary: #FFFF00;
  --text: black;
}
[data-theme='pakistan'] {
  --primary: #115740;
  --secondary: gray;
  --text: white;
}
[data-theme='united-states'] {
  --primary: #B31942;
  --secondary: #0A3161;
  --text: white;
}
[data-theme='ukraine'] {
  --primary: #0057B7;
  --secondary: #FFDD00;
  --text: white;
}
[data-theme='palestine'] {
  --primary: #E4312b;
  --secondary: #149954;
  --text: black;
}