.container {
  border: 2px solid black;
  border-top: none;
}
.heading {
  padding: 10px;
}
.manage {
  display: flex;
  border-top: 2px solid black;
  color: var(--text);
  height: 40vh;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.manageX {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-right: 2px solid black;
}
.manageY {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}